		
.caja_padre{
	float:left;
	margin-top:0;
	margin-left:25%;
	/*background-color:#EBC712E0 ;*/
	width:1000px;
	height:1000px;
	/*border:4px solid violet;*/
	
}
.foto{
	       /*border:4px solid violet;*/
			padding-top:5%;
			margin-top:10px;
			margin-left:50px;
			margin-right:50px;
			
			
}
                
  .datos{ 	width: 400px;
            height:450px;
			float:right;
			margin-top:10px;
			margin-left:50px;
			margin-right:50px;
			/*border:4px solid violet;*/
			padding: 50px 80px 50px 80px;
			}
			
.enlaces{
	
			width: 800px;
			height:220px;
			margin-top:10px;
			margin-left:50px;
			margin-right:50px;
			margin-top:300px;
			/*border:4px solid violet;*/
			padding: 50px 80px 50px 80px;
	}
	.i{
		border:2px solid indigo ;
	     /* background-color: #E6EE9C ;*/
		  font-weight: bold;
          text-align: justify;
          margin:auto;
		/*width: 800px;
		height:300px;*/
	}
	
	
table,th,dt {
       /* border:2px solid indigo ;*/
         margin-left:20%;
	     margin-right:50px;
		 margin-top:80px;
		 
}
th {
	      border:2px solid indigo  ;
	      margin-top:300px;
          /*background-color:#E6EE9C;*/
		  padding:auto;
          margin:auto;
}
td {      border:2px solid indigo ;
	     /* background-color: #E6EE9C ;*/
		   font-weight: bold;
          text-align: justify;
          margin:auto;
}

	
						
			 
			   